{% extends 'base.html' %}
{% load static %}

{% block content %}



    <!-- //// search navbar -->

    <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <nav class="navbar fixed pt-4  px-md-5">
                          <div class="col-6">
                            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" class="ms-3" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="{% url 'home' %}" class="text-decoration-none ayurrich-bold-text">Home</a></li>
                                  <li class="breadcrumb-item active" aria-current="page">Shop</li>
                                </ol>
                              </nav>
                          </div>
                          <div class="col-6 col-md-4 col-lg-3  ">
                             <form class="d-flex" method="GET" action="{% url 'shop' %}" role="search">
                             
                                <input class="form-control box-shadow-none search  me-2" type="search" placeholder="Search" aria-label="Search" name="q">

                                <button class="btn btn-primary-color rounded-pill" type="submit">Search</button>
                             
                          </form>
                          </div>
                      </nav>
          </div>
            </div>
    </div>

<!-- //// search navbar end -->


    <!-- ////// shop section  -->

    <div class="container-fluid mt-0">
            <div class="row">
                <div class="col-12 ms-2 px-md-5">
                    <h2 class="display-6 fw-semibold ayurrich-bold-text">Shop</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="dropdown-center">
                        <button class="btn btn-secondary dropdown-toggle float-end me-lg-5 bg-transparent ayurrich-bold-text border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Filter
                        </button>
                        <ul class="dropdown-menu  border shadow">
                          <li><a class="dropdown-item ayurrich-bold-text " href="{% url 'shop' %}">All</a></li>
                          <li>
                            <a class="dropdown-item ayurrich-bold-text {% if current_sort == 'price_low_to_high' %}active{% endif %}" 
                               href="{% url 'shop' %}?sort_by=price_low_to_high">Price Low <i class="bi bi-arrow-down"></i> to High <i class="bi bi-arrow-up"></i></a>
                          </li>
                          <li>
                            <a class="dropdown-item ayurrich-bold-text {% if current_sort == 'price_high_to_low' %}active{% endif %}" 
                               href="{% url 'shop' %}?sort_by=price_high_to_low">Price High <i class="bi bi-arrow-up"></i> to Low <i class="bi bi-arrow-down"></i></a>
                          </li></ul>
                      </div>                    
                    </div>
            </div>
            <div class="row px-md-5">
              {% if products %}
                {% for product in products %}
                <div class="col-6 col-lg-3 col-md-4 py-2">
                    <div class="card shadow-sm">
                      <a
                      href="{% url 'product_dtails' product.id %}" class="ayurrich-bold-text">
                      <img src="{{ product.image.url }}" class="card-img-top object-fit-cover " alt="...">
                    </a>                      
                    <div class="card-body">
                          <p class=" my-1 d-none d-sm-block"><small>{{ product.category }}</small></p>
                        <h5 class="card-title text-capitalize text-truncate">{{ product.name }}</h5>
                        <p class="card-text my-0 mb-2 text-truncate" >{{ product.description }}</p><a href="{% url 'product_dtails' product.id %}" class="ayurrich-bold-text d-none d-md-block text-decoration-none">Read more...</a>
                        <!-- <p class="card-text my-0"><small>Bottle of 30 tablets</small></p> -->
                        <p class="card-text my-0 mb-2 d-none d-sm-block"><small>Item will be deliverd in <strong>5 Days</strong></small></p>
                         <h6 class="card-subtitle mb-2 text-body-secondary"><p><del class="opacity-50">{{ product.price }}&#x20b9 </del>&nbsp;<strong>{{ product.discount_price }}&#x20B9</strong></p>
                          </h6>
                        <a href="{% url 'product_dtails' product.id %}" class="btn btn-primary btn-primary-color border-0 my-2 rounded-pill">View Item</a>
                        <button type="button" class="btn btn-primary btn-primary-color border-0 my-2 rounded-pill add-cart" data-product-id="{{product.id}}" >Add to Cart</button>
        
                      </div>
                    </div>
                  </div>
                {% endfor %}
                {% else %}
                  <div class="col-12 col-md-12 d-flex justify-content-center align-items-center">
                      <div class="card shadow my-5" style="width: 600px;">
                          <div class="card-body text-center">
                              <div class="card-title py-3 bg-white border-0">
                                  <h4>
                                      No Result Found !
                                  </h4>
                              </div>
                              <div  class="card-text">
                              <h5 class="card-title">Search Again</h5><br>
                              
                              </div>
                           
                          </div>
                        </div>
                  </div>
                 

              
                
                {% endif %}
                
               
            </div>
            <div class="row">
              <div class="col-12">
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-end me-md-4 my-5">
                    {% if products.has_previous %}
                      <li class="page-item">
                        <a class="page-link ayurrich-bold-text border-0" href="?page={{ products.previous_page_number }}">Previous</a>
                      </li>
                    {% else %}
                      <li class="page-item ">
                        <span class="page-link ayurrich-bold-text border-0">Previous</span>
                      </li>
                    {% endif %}
            
                    {% for num in products.paginator.page_range %}
                      {% if products.number == num %}
                        <li class="page-item active">
                          <span class="page-link ayurrich-text border-0">{{ num }}</span>
                        </li>
                      {% else %}
                        <li class="page-item">
                          <a class="page-link ayurrich-text border-0" href="?page={{ num }}">{{ num }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
            
                    {% if products.has_next %}
                      <li class="page-item">
                        <a class="page-link ayurrich-bold-text border-0" href="?page={{ products.next_page_number }}">Next</a>
                      </li>
                    {% else %}
                      <li class="page-item">
                        <span class="page-link ayurrich-bold-text border-0">Next</span>
                      </li>
                    {% endif %}
                  </ul>
                </nav>
              </div>
            </div>
    </div>




    <!-- ////// shop section end  -->



    <script>
      // check if button pressed
      $(document).on('click', '.add-cart', function(e){
          e.preventDefault();
          // Get the product ID from the button's data attribute
          let product_id = $(this).data('product-id');

          // get product qty default = 1
          let product_qty = $(this).data('product-qty') || 1;

          $.ajax({
            type: 'POST',
            url: '{% url "add_cart" %}',
            data: {
              product_id: product_id,
              product_qty:product_qty,
              csrfmiddlewaretoken: '{{ csrf_token }}',
              action: 'post'
            },

            success: function(json){
              // console.log(json)
              document.getElementById('cart_quantity').textContent = json.qty
  
             // Show the success message inside the toast
             let successMessage = json.message;

              // Set the message text inside the toast body
              $('#success-toast .toast-body').text(successMessage);

              // Show the toast
              var toastElement = new bootstrap.Toast($('#success-toast')[0]);
              toastElement.show();

             },

            error: function(xhr, errmsg, err){

            }


          });



      })


      </script>




    {% endblock %}